.bg-container {
  padding: 60px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.app-container {
  padding: 30px;
  background-image: linear-gradient(to bottom, #ff6e7f, #bfe9ff);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh;
  font-family: roboto;
}

.heading-1 {
  font-size: 45px;
}

.heading-2 {
  color: #334155;
  font-size: 30px;
}

.description {
  color: #334155;
  font-size: 12px;
}

.button {
  height: 30px;
  width: 100px;
  border: 1px solid grey;
  background-color: #ffffff;
  padding: 10px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}
