.emoji-button {
  all: unset;
}

.emoji-container {
  background-color: #ffffff33;
  border: solid 2px #ffffff33;
  border-radius: 14px;
  margin: 8px;
  height: 150px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.emoji-icon {
  height: 80px;
  width: 80px;
}
