.nav-container {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid grey;
}

.popup-container {
  height: 100%;
  width: 100%;
}

.ham-button {
  height: 50px;
  width: 50px;
}
