.bg-container {
  display: flex;
  flex-direction: column;
}

.header-container {
  display: flex;
  flex-direction: row;
  background-color: #3367d6;
  padding: 12px;
  justify-content: space-between;
  align-items: center;
}

.logo-img {
  height: 80px;
  width: 120px;
}

.search-icon {
  height: 20px;
  width: 12px;
}

.history-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.history-item {
  display: flex;
  align-items: center;
}
