.page-container {
  padding: 20px;
  background-color: #161624;
  color: white;
  min-height: 100vh;
}

.countries-container {
  background-color: #1f1f2f;
  height: 300px;
  overflow-y: auto;
  list-style-type: none;
  padding: 0;
  overflow-y: scroll;
}

.countrie-container {
  border-bottom: 1px solid #334155;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.visit-button {
  background-color: #3b82f6;
  color: white;
  padding: 8px;
  border: 0;
  border-radius: 5px;
  width: 80px;
  cursor: pointer;
  font-weight: bold;
}

.country-flag-img {
  height: 120px;
  width: 200px;
}

.visited-countries-container {
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.visited-button {
  color: #94a3b8;
  padding: 8px;
  border: 0;
  border-radius: 5px;
  width: 80px;
  background-color: transparent;
  cursor: pointer;
  font-weight: bold;
}

.remove-button-container {
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.country-flag-container {
  margin-right: 10px;
  background-color: #1f1f2f;
}

.remove-button {
  font-weight: bold;
  color: white;
  border: 1px solid white;
  background-color: transparent;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.no-countries-visited-container {
  text-align: center;
}
