* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.page-container {
  padding: 20px;
  background-color: #eef4f7;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-heading {
  margin-bottom: 3px;
}

.page-heading-container {
  color: #475569;
  border-bottom: 3px solid #52bbf0;
  width: 190px;
  margin-bottom: 40px;
}

.package-cards-container {
  display: flex;
  flex-wrap: wrap;
  min-height: 79vh;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
