.card-container {
  width: 350px;
  background-color: #fffffc;
  margin: 10px;
}

.package-img {
  width: 100%;
}

.package-details-container {
  padding: 15px;
  font-family: roboto;
}

.package-details-heading {
  font-size: 20px;
  font-weight: 500;
  color: #475569;
}

.package-details-description {
  color: #64748b;
}
