.bg-container {
  display: flex;
  padding: 50px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-image: linear-gradient(to left, #93f9b9, #1d976c);
  height: 100vh;
}

.calculator-img {
  height: 300px;
  width: 400px;
}

.container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.count-container {
  background-color: white;
  border-radius: 5px;
  padding: 10px;
}

.count {
  color: #1d976c;
  font-family: roboto;
}
